.DS_Store
clase01/libros
clase02/codigos_c
clase03/pthreads_1
clase03/pthreads_2
clase04/pthreads_3
clase05/localidad
clase06/fortran
*.exe
*~
*.out
*.err
*#
clase08/codigos_mpi_fortran
*.mod
clase09/ultimo_fortran
clase11/hdf5_fortran
clase11/cyfortran
clase11/hdf5_c
*.o
*.h5
